extends  ../_skeleton

//- Includes
include ../components/_ui-box-icon
include ../components/_ui-counters
include ../components/_ui-box-team
include ../components/_ui-quote
include ../components/_ui-posts

block variables
	- var activeCategory = 'home'
	- var pageName = 'Home'

block page
	// Page Header
	+header-classic({})
	='\n'
	
	// Swiper
	section.section.swiper-container.swiper-slider.swiper-slider-classic(data-loop='true' data-autoplay='4859' data-simulate-touch="true" data-direction='vertical' data-nav='false')
		.swiper-wrapper.text-center
			.swiper-slide(data-slide-bg='images/slider-1-slide-2-1770x742.jpg')
				.swiper-slide-caption.section-md
					.container
						h1(data-caption-animate='fadeInLeft' data-caption-delay='0') Mobile App Development
						p.text-width-large(data-caption-animate='fadeInRight' data-caption-delay='100') Since our establishment, we have been delivering high-quality and sustainable software solutions for corporate purposes of worldwide businesses.
						a.button.button-primary.button-ujarak(href='#modalCta' data-toggle="modal" data-caption-animate='fadeInUp' data-caption-delay='200') Get in touch
			.swiper-slide(data-slide-bg='images/slider-1-slide-4-1770x742.jpg')
				.swiper-slide-caption.section-md
					.container
						h1(data-caption-animate='fadeInLeft' data-caption-delay='0') Experienced Team
						p.text-width-large(data-caption-animate='fadeInRight' data-caption-delay='100') We are a team of qualified software developers, aimed at creating unique and powerful tools for your business & everyday life.
						a.button.button-primary.button-ujarak(href='#modalCta' data-toggle="modal" data-caption-animate='fadeInUp' data-caption-delay='200') Get in touch
			.swiper-slide(data-slide-bg='images/slider-1-slide-6-1770x742.jpg')
				.swiper-slide-caption.section-md
					.container
						h1(data-caption-animate='fadeInLeft' data-caption-delay='0') Award-Winning Software
						p.text-width-large(data-caption-animate='fadeInRight' data-caption-delay='100') The software solutions developed by our company have been numerously awarded for usability and innovative features.
						a.button.button-primary.button-ujarak(href='#modalCta' data-toggle="modal" data-caption-animate='fadeInUp' data-caption-delay='200') Get in touch
		
		// Swiper Pagination
		.swiper-pagination__module
			.swiper-pagination__fraction
				span.swiper-pagination__fraction-index 00
				span.swiper-pagination__fraction-divider /
				span.swiper-pagination__fraction-count 00
			.swiper-pagination__divider
			.swiper-pagination
	='\n'
	
	// See all services
	section.section.section-sm.section-first.bg-default.text-center#services
		.container
			.row.row-30.justify-content-center
				.col-md-7.col-lg-5.col-xl-6.text-lg-left.wow.fadeInUp
					+png('index-1-415x592')
				.col-lg-7.col-xl-6
					.row.row-30
						.col-sm-6.wow.fadeInRight
							article.box-icon-modern.box-icon-modern-custom: div
								h3.box-icon-modern-big-title What We Offer
								.box-icon-modern-decor
								a.button.button-primary.button-ujarak(href='#') View All Services
						.col-sm-6.wow.fadeInRight(data-wow-delay='.1s')
							+box-icon-modern({
								mod: 'box-icon-modern-2',
								icon: 'linearicons-phone-in-out',
								title: 'CORPORATE<br>SOLUTIONS',
								text: 'Need specific software for your company? We are ready to develop it!'
							})
						.col-sm-6.wow.fadeInRight(data-wow-delay='.2s')
							+box-icon-modern({
								mod: 'box-icon-modern-2',
								icon: 'linearicons-headset',
								title: 'CALL CENTER<br>SOLUTIONS',
								text: 'Our experts provide custom products of any complexity for call centers.'
							})
						.col-sm-6.wow.fadeInRight(data-wow-delay='.3s')
							+box-icon-modern({
								mod: 'box-icon-modern-2',
								icon: 'linearicons-outbox',
								title: 'CLOUD<br>DEVELOPMENT',
								text: 'We can also offer you reliable cloud development solutions.'
							})
	='\n'
	
	// Cta
	section.section.section-fluid.bg-default
		+parallax({
			img: 'parallax-1',
			innerClass: 'section-xl context-dark'
		})
			.container
				.row.row-30.justify-content-end.text-right
					.col-sm-7
						h3.wow.fadeInLeft Let's Develop Your Next Great App!
						p Do you need a unique software solution for your company? We know how to help you!
						.group-sm.group-middle.group.justify-content-end
							a.button.button-primary.button-ujarak(href='#modalCta' data-toggle="modal") Get in Touch
							a.button.button-white-outline.button-ujarak(href='#') Learn More
	='\n'
	
	// Latest Projects
	section.section.section-sm.section-fluid.bg-default.text-center#projects
		.container-fluid
			h2.wow.fadeInLeft Latest Projects
			p.quote-jean.wow.fadeInRight(data-wow-delay='.1s') In our portfolio, you can browse the latest products developed for our clients for different corporate purposes. Our qualified team of interface designers and software developers is always ready to create something unique for you.
			include ../sections/_section-full-width-gallery
	='\n'
	
	// Years of experience
	section.section.section-sm.bg-default
		.container
			.row.row-30.row-xl-24.justify-content-center.align-items-center.align-items-lg-start.text-left
				include ../sections/_section-counter-amy
				.col-lg-6.col-xl-12.align-self-center
					.row.row-30.justify-content-center
						.col-sm-6.col-md-5.col-lg-6.col-xl-3.wow.fadeInLeft: a.clients-classic(href='#'): +png('clients-9-270x117')
						.col-sm-6.col-md-5.col-lg-6.col-xl-3.wow.fadeInLeft(data-wow-delay='.1s'): a.clients-classic(href='#'): +png('clients-10-270x117')
						.col-sm-6.col-md-5.col-lg-6.col-xl-3.wow.fadeInLeft(data-wow-delay='.2s'): a.clients-classic(href='#'): +png('clients-3-270x117')
						.col-sm-6.col-md-5.col-lg-6.col-xl-3.wow.fadeInLeft(data-wow-delay='.3s'): a.clients-classic(href='#'): +png('clients-11-270x117')
	='\n'
	
	// Meet The Team
	section.section.section-sm.section-fluid.bg-default#team
		.container-fluid
			h2 Meet The Team
			.row.row-sm.row-30.justify-content-center
				.col-md-6.col-lg-5.col-xl-3.wow.fadeInRight
					+team-classic({
						mod: 'team-classic-lg',
						img: 'team-11-420x424',
						name: 'Ryan Wilson',
						status: 'Director of Production'
					})
				.col-md-6.col-lg-5.col-xl-3.wow.fadeInRight(data-wow-delay='.1s')
					+team-classic({
						mod: 'team-classic-lg',
						img: 'team-12-420x424',
						name: 'Jill Peterson',
						status: 'UI Designer'
					})
				.col-md-6.col-lg-5.col-xl-3.wow.fadeInRight(data-wow-delay='.2s')
					+team-classic({
						mod: 'team-classic-lg',
						img: 'team-13-420x424',
						name: 'Sam Robinson',
						status: 'Senior Developer'
					})
				.col-md-6.col-lg-5.col-xl-3.wow.fadeInRight(data-wow-delay='.3s')
					+team-classic({
						mod: 'team-classic-lg',
						img: 'team-14-420x424',
						name: 'Mary Lee',
						status: 'Software Developer'
					})
	='\n'
	
	// You dream — we embody
	section.section.section-sm.bg-default.text-md-left
		.container
			.row.row-50.align-items-center.justify-content-center.justify-content-xl-between
				.col-lg-6.col-xl-5.wow.fadeInLeft
					h2 Get More With Us
					// Bootstrap tabs
					#tabs-6.tabs-custom.tabs-horizontal.tabs-line.tabs-line-big.text-center.text-md-left
						// Nav tabs
						ul.nav.nav-tabs
							li.nav-item(role='presentation'): a.nav-link.nav-link-big.active(href='#tabs-6-1' data-toggle='tab') 01
							li.nav-item(role='presentation'): a.nav-link.nav-link-big(href='#tabs-6-2' data-toggle='tab') 02
							li.nav-item(role='presentation'): a.nav-link.nav-link-big(href='#tabs-6-3' data-toggle='tab') 03
							li.nav-item(role='presentation'): a.nav-link.nav-link-big(href='#tabs-6-4' data-toggle='tab') 04
						
						// Tab panes
						.tab-content
							div#tabs-6-1.tab-pane.fade.show.active
								h5.font-weight-normal FREE APPS
								p We regularly upload new free apps to our website, which is fully accessible to our clients and subscribers. You can also find out about free apps in our blog.
								.group-sm.group-middle
									a.button.button-secondary.button-pipaluk(href='#modalCta' data-toggle="modal") Get in touch
									a.button.button-default-outline.button-wapasha(href='#') Learn More
							
							div#tabs-6-2.tab-pane.fade
								h5.font-weight-normal GET SOCIAL
								p Every app we develop has built-in social support that allows you to stay connected to your accounts on Facebook, Instagram, Twitter and other networks.
								.group-sm.group-middle
									a.button.button-secondary.button-pipaluk(href='#modalCta' data-toggle="modal") Get in touch
									a.button.button-default-outline.button-wapasha(href='#') Learn More
							
							div#tabs-6-3.tab-pane.fade
								h5.font-weight-normal CUSTOMER SERVICE
								p Every customer of RatherApp can get access to our friendly and qualified 24/7 support via chat or phone. Fell free to ask us any question!
								.group-sm.group-middle
									a.button.button-secondary.button-pipaluk(href='#modalCta' data-toggle="modal") Get in touch
									a.button.button-default-outline.button-wapasha(href='#') Learn More
							
							div#tabs-6-4.tab-pane.fade
								h5.font-weight-normal GREAT USABILITY
								p All our apps are designed to have great usability in order to easily operate our applications. That is why our software has high ratings and lots of awards.
								.group-sm.group-middle
									a.button.button-secondary.button-pipaluk(href='#modalCta' data-toggle="modal") Get in touch
									a.button.button-default-outline.button-wapasha(href='#') Learn More
				
				.col-lg-6.text-center.wow.fadeInUp(data-wow-delay='.1s')
					.owl-carousel.owl-style-1(data-items='2', data-stage-padding='0', data-loop='true', data-margin='0', data-mouse-drag="true", data-autoplay='true')
						a.box-device(href='#'): +png('index-4-313x580')
						a.box-device(href='#'): +png('index-5-313x580')
						a.box-device(href='#'): +png('index-4-313x580')
						a.box-device(href='#'): +png('index-5-313x580')
	='\n'
	
	// What people Say
	section.section.section-sm.section-bottom-70.section-fluid.bg-default
		.container-fluid
			h2 What people Say
			.row.row-50.row-sm
				.col-md-6.col-xl-4.wow.fadeInRight
					+quote-modern({
						mod: 'quote-modern-custom',
						img: 'user-11-75x75',
						author: 'Catherine Williams',
						status: 'Regular client',
						text: 'RatherApp offers a high caliber of resources skilled in Microsoft Azure .NET, mobile and Quality Assurance. They became our true business partners over the past three years.'
					})
				.col-md-6.col-xl-4.wow.fadeInRight(data-wow-delay='.1s')
					+quote-modern({
						mod: 'quote-modern-custom',
						img: 'user-12-75x75',
						author: 'Rupert Wood',
						status: 'Regular client',
						text: 'RatherApp powered us with a competent team to develop products for banking services. The team has been delivering results within budget and time, which is amazing.'
					})
				.col-md-6.col-xl-4.wow.fadeInRight(data-wow-delay='.2s')
					+quote-modern({
						mod: 'quote-modern-custom',
						img: 'user-20-75x75',
						author: 'Samantha Brown',
						status: 'Regular client',
						text: 'RatherApp is a highly skilled and uniquely capable firm with multitudes of talent on-board. We have collaborated on a number of diverse projects that have been a great success.'
					})
	='\n'
	
	// Pricing
	section.section.section-sm.section-bottom-70.section-fluid.bg-default
		.container
			h2 Pricing
			.row.row-30.justify-content-center
				.col-md-6.col-lg-5.col-xl-4
					.box-pricing.box-pricing-black
						.box-pricing-body
							h5.box-pricing-title basic
							h3.box-pricing-price $500.00
							.box-pricing-time starting at
							.box-pricing-divider
								.divider
								span Basic
							ul.box-pricing-list
								li.active Concept development
								li.active UI design
								li Configuration management
								li Software quality assurance
								li App integration
						.box-pricing-button: a.button.button-lg.button-block.button-gray-4(href='#') Get started
				.col-md-6.col-lg-5.col-xl-4
					.box-pricing.box-pricing-black.box-pricing-popular
						.box-pricing-body
							h5.box-pricing-title Optimal
							h3.box-pricing-price $800.00
							.box-pricing-time starting at
							.box-pricing-divider
								.divider
								span Optimal
							ul.box-pricing-list
								li.active Concept development
								li.active UI design
								li.active Configuration management
								li.active Software quality assurance
								li App integration
						.box-pricing-button: a.button.button-lg.button-block.button-primary(href='#') Get started
						.box-pricing-badge popular
				.col-md-6.col-lg-5.col-xl-4
					.box-pricing.box-pricing-black
						.box-pricing-body
							h5.box-pricing-title Ultimate
							h3.box-pricing-price $1200.00
							.box-pricing-time starting at
							.box-pricing-divider
								.divider
								span Ultimate
							ul.box-pricing-list
								li.active Concept development
								li.active UI design
								li.active Configuration management
								li.active Software quality assurance
								li.active App integration
						.box-pricing-button: a.button.button-lg.button-block.button-gray-4(href='#') Get started
	='\n'
	
	// Latest blog posts
	section.section.section-sm.section-last.bg-default#news
		.container
			h2 Latest blog posts
			.row.row-60.row-sm
				include ../sections/_section-grid-blog
	='\n'
	
	// Contact information
	section.section.section-sm.bg-default
		include ../sections/_contact-information
	='\n'
	
	// Contact Form
	section.section.section-sm.bg-default.text-left#contacts
		.container
			article.title-classic
				div.title-classic-title: h3 Get in touch
				div.title-classic-text: p If you have any questions, just fill in the contact form, and we will answer you shortly.
			
			include ../sections/_contact-form-2
	='\n'
	
	// RD Google Map
	section.section.section-fluid
		include ../sections/_section-gmap
	='\n'
	
	// Page Footer
	include ../sections/_footer-minimal
	='\n'
	
	#modalCta.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
		.modal-dialog(role="document")
			.modal-content
				
				.modal-header
					h4 Contact Us
					
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") ×
				
				.modal-body
					//- Contact forms
					form.rd-form.rd-form-variant-2.rd-mailform(data-form-output='form-output-global', data-form-type='contact-modal', method='post', action='bat/rd-mailform.php')
						.row.row-14.gutters-14
							.col-12
								.form-wrap
									input#contact-modal-name.form-input(type='text' name='name' data-constraints='@Required')
									label.form-label(for='contact-modal-name') Your Name
							.col-12
								.form-wrap
									input#contact-modal-email.form-input(type='email' name='email' data-constraints='@Email @Required')
									label.form-label(for='contact-modal-email') E-mail
							.col-12
								.form-wrap
									input#contact-modal-phone.form-input(type='text' name='phone' data-constraints='@Numeric')
									label.form-label(for='contact-modal-phone') Phone
							.col-12
								.form-wrap
									label.form-label(for='contact-modal-message') Message
									textarea#contact-modal-message.form-input.textarea-lg(name='message' data-constraints='@Required')
									
						button.button.button-primary.button-pipaluk(type='submit') Send Message


