/*Andras Class*/
.video-responsive{
  position: relative;
  padding-bottom: 40.25%; /* 16/9 ratio */
  padding-top: 30px; /* IE6 workaround*/
  overflow: hidden;
}
.video-responsive video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
footer div{
  color: #9b9b9b;
}
.counter-min-size{
  font-size: 90px;
}

.store-badges ul{
  margin-top: 10px !important;
  margin-left: -21px !important;
}

.store-badges>ul>li>a>img{
  width: 180px;
}

#post-venta{
  font-size: 21px;
}

/*Estilos para formato de telefono*/
.iti{
  width: 100%;
  z-index: 100;
}


/*Estilos de submenu dentro de los links en navbar*/
.rd-navbar-fixed .rd-navbar-nav {
	overflow-y: scroll;
}
.rd-nav-item>ul, .footer-list-category-2>li>ul{
  background: #fff;
  width: 100%;
  z-index: 100000;
  position:absolute;
  display: none;
  border-radius: 3px;
}
.rd-nav-item:active>ul, .rd-nav-item:hover>ul{
  display: block;
}
#google-map-fi{
    overflow:hidden;
    padding-bottom:44.66%;
    position:relative;
    height:0;
}
#google-map-fi>iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
      /*.box-icon-modern{
        min-height: 0px !important;
      }*/
      .box-icon-modern-title{
        min-height: 90px;
      }

/* Logos y encabezados de paginas internas */
.hlogo{
  width: 370px;
}

/*Estos estilos generan conflicto visual y funcional en resoluciones menores a 1024px;*/
@media (min-width: 1024px){
  .footer-list-category-2>li>ul{
    display: none;
    top: -48px;
    width: 400px;
    height: 58px;
  }
  #footer-submenu-1{
    margin-left: -7%;
  }
  #footer-submenu-2{
    margin-left: -1%;
  }
  li.rd-nav-item>ul{
    padding: 5px;
    background: #e32526 !important;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;  
  }
  li.rd-nav-item>ul>li{
    margin: 5px 0;
    padding: 5px 0;
  }
  li.rd-nav-item>ul>li, li.rd-nav-item>ul>li>a.rd-nav-link, li.rd-nav-item>ul>li>a.rd-nav-link>div{
    width: 100%;
  }
  li.rd-nav-item>ul>li>a.rd-nav-link{
    color: #ffffff !important;
  }
  li.rd-nav-item>ul>li>a.rd-nav-link::before{
    background: #ffffff !important;
  }
  li.rd-nav-item>ul>li>a.rd-nav-link>div{
    text-align: left;
  }
  li.rd-nav-item>ul>li>a.rd-nav-link>div>span{
    font-size: 0px;
  }
  .footer-list-category-2>li>ul>li{
    padding: 0 10px;
  }
  li.rd-nav-item:hover>ul, .footer-list-category-2>li:hover>ul{
    display: flex;    
  }
  .footer-list-category-2>li:hover>ul{
    flex-direction: row;
  }
}
@media (max-width: 768px) {
  #store-badges{
    justify-content: center;
  }
  .rd-nav-link>div>span.icon{
  	font-size: 8px;
    margin-right: 8px;
  }
}