mixin footer-classic(obj)
	footer.section.section-fluid.footer-classic(class=obj.mod)
		.container-fluid.bg-gray-15
			.row.row-30.justify-content-center
				.col-md-10.col-lg-12.col-xl-4.wow.fadeInRight
					.box-footer.box-footer-small
						.footer-brand: a(href='index.html'): +png(logo.inverse)
						p.text-width-medium Our company has been developing high-quality and reliable software for corporate needs since 2008. We are renowned professionals of software development.
						.contact-classic
							.contact-classic-item: .unit.unit-spacing-md.align-items-center
								.unit-left: h6.contact-classic-title Address
								.unit-body.contact-classic-link: a(href='#') 4730 Crystal Springs Dr, Los Angeles, CA 90027

							.contact-classic-item: .unit.unit-spacing-md.align-items-center
								.unit-left: h6.contact-classic-title Phones
								.unit-body.contact-classic-link
									a(href='tel:#') +1 323-913-4688
									= ', '
									a(href='tel:#')  +1 323-888-4554
							.contact-classic-item: .unit.unit-spacing-md.align-items-center
								.unit-left: h6.contact-classic-title E-mails
								.unit-body.contact-classic-link
									a(href='mailto:#')  info@demolink.org
									= ', '
									a(href='mailto:#')  mail@demolink.org

						+widget-list([], '', 'list-inline-sm footer-social-list')

				.col-md-10.col-lg-6.col-xl-4.wow.fadeInRight(data-wow-delay='.1s')
					.box-footer
						h3.font-weight-normal Questions? Contact Us
						form.rd-form.rd-mailform(data-form-output='form-output-global', data-form-type='contact', method='post', action='bat/rd-mailform.php')
							.form-wrap
								input#contact-name-6.form-input(type='text' name='name' data-constraints='@Required')
								label.form-label(for='contact-name-6') Name
							.form-wrap
								input#contact-email-6.form-input(type='email' name='email' data-constraints='@Email @Required')
								label.form-label(for='contact-email-6') E-mail
							.form-wrap
								label.form-label(for='contact-message-6') Message
								textarea#contact-message-6.form-input(name='message' data-constraints='@Required')
							button.button.button-block(class=obj.button ? obj.button : 'button-primary' type='submit') Send Message
				.col-md-10.col-lg-6.col-xl-4.wow.fadeInRight(data-wow-delay='.2s')
					.box-footer
						h3.font-weight-normal See How We Work
						ul.footer-list-category
							li.heading-4: a(href='#') DB Management
								span
							li.heading-4: a(href='#') iOS/Mac OS Apps
								span
							li.heading-4: a(href='#') Android Apps
								span
							li.heading-4: a(href='#') Windows Apps
								span
							li.heading-4: a(href='#') UX & UI
								span
		.container.footer-bottom-panel.wow.fadeInUp
			// Rights
			p.rights
				span &copy;&nbsp;
				span.copyright-year
				= ' '
				span= logo.name
				= '. All rights reserved. '
				a(href='privacy-policy.html') Terms of Use
				|  and
				a(href='privacy-policy.html')  Privacy Policy