footer.section.section-fluid.footer-minimal.context-dark
	.container-fluid.bg-gray-15
		.footer-minimal-inset.oh
			ul.footer-list-category-2
				li: a(href='#') UI Design
				li: a(href='#') Windows/Mac OS Apps
				li: a(href='#') Android/iOS Apps
				li: a(href='#') Cloud Solutions
				li: a(href='#') Customer Support
		
		.footer-minimal-bottom-panel.text-sm-left: .row.row-10.align-items-md-center
			.col-sm-6.col-md-4.text-sm-right.text-md-center: div: +widget-list([], '', 'list-inline-sm footer-social-list-2')
			.col-sm-6.col-md-4.order-sm-first
				// Rights
				p.rights
					span &copy;&nbsp;
					span.copyright-year
					= ' '
					span= logo.name
			.col-sm-6.col-md-4.text-md-right All rights reserved