mixin header-classic(obj)
	header.section.page-header#home
		// RD Navbar
		.rd-navbar-wrap
			nav.rd-navbar.rd-navbar-classic(
			data-layout=                'rd-navbar-fixed'
			data-sm-layout=             'rd-navbar-fixed'
			data-md-layout=             'rd-navbar-fixed'
			data-md-device-layout=      'rd-navbar-fixed'
			data-lg-layout=             'rd-navbar-static'
			data-lg-device-layout=      'rd-navbar-fixed'
			data-xl-layout=             'rd-navbar-static'
			data-xl-device-layout=      'rd-navbar-static'
			data-xxl-layout=            'rd-navbar-static'
			data-xxl-device-layout=     'rd-navbar-static'
			data-lg-stick-up-offset=    '46px'
			data-xl-stick-up-offset=    '46px'
			data-xxl-stick-up-offset=   '46px'
			data-lg-stick-up=           'true'
			data-xl-stick-up=           'true'
			data-xxl-stick-up=          'true'
			class=obj.mod )
				.rd-navbar-main-outer
					.rd-navbar-main
						// RD Navbar Panel
						.rd-navbar-panel
							// RD Navbar Toggle
							button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap'): span
							
							// RD Navbar Brand
							.rd-navbar-brand: a.brand(href='index.html'): +png(obj.logo ? obj.logo : logo.default)
						
						.rd-navbar-main-element
							.rd-navbar-nav-wrap
								// RD Navbar Share
								.rd-navbar-share.fl-bigmug-line-share27(data-rd-navbar-toggle='.rd-navbar-share-list')
									ul.list-inline.rd-navbar-share-list
										li.rd-navbar-share-list-item: a(href='#' class='icon fa fa-facebook')
										li.rd-navbar-share-list-item: a(href='#' class='icon fa fa-twitter')
										li.rd-navbar-share-list-item: a(href='#' class='icon fa fa-google-plus')
										li.rd-navbar-share-list-item: a(href='#' class='icon fa fa-instagram')
								
								ul.rd-navbar-nav
									li.rd-nav-item(class='active')
										a.rd-nav-link(href='#home') Home
									li.rd-nav-item
										a.rd-nav-link(href='#services') Services
									li.rd-nav-item
										a.rd-nav-link(href='#projects') Projects
									li.rd-nav-item
										a.rd-nav-link(href='#team') Team
									li.rd-nav-item
										a.rd-nav-link(href='#news') News
									li.rd-nav-item
										a.rd-nav-link(href='#contacts') Contacts